#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.checkout-container{
  background-color: rgb(4, 4, 4);
  opacity: 80%;
  padding: 40px;
  border-radius: 10px;
}

#basket-icon {
  font-size: 1rem;
  margin-top: -0.1rem;    
  color: #f3f1f1;           
}

.basket-header{
  display: flex;
  align-items: center; 
  gap: 5px; 
}

.basket-items{
  margin-top: -5px;
}

.basket-container{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;    
  max-width: 80%;
  border-radius: 10px;
  background-color: blue;
  opacity: 80%;
  padding: 20px;
  margin: 20px;
}

#offer-title{
  margin-top: 30px;
}

#special-offer-notification{
  margin-top: -15px;
  margin-bottom: 40px;
}





